google-generativeai
langchain-google-genai
langchain
langchain-community
langchain-chroma
langchain-core
sentence-transformers
chromadb
tenacity
pypdf
langchain-huggingface
Flask
Flask-SocketIO
SQLAlchemy
